#pag1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(228, 146, 243);
    color: #2c0742;
    text-align: center;
    margin-top: 20px;
    border:rgb(118, 90, 123) 2px solid;
    text-transform: uppercase;
    
}

#intro {
    text-align: center;
    border:rgb(118, 90, 123) 2px solid;
    height: 20%;
    align-items: center;
    font-size: 24px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#general {
    font-size: 24px;
    border:rgb(118, 90, 123) 2px solid;
    margin-top: 20px;
    text-align: center;
    float: left;
}

#titgen {
    font-weight: bold;
    padding: 20px;
    color: #754392;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;

}

#historia, #jugadores, #rol20, #basico {
    font-size: 24px;
    border:rgb(118, 90, 123) 2px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#tithis, #titjug, #titrol, #titbas {
    font-weight: bold;
    padding: 20px;
    background-color: rgb(228, 146, 243);
    color: #754392;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}

#foto1, #foto2 {
    width: 49%;
    height: 500px;
    align-items: center;
}

#footer {
    font-size: 20px;
    border:rgb(118, 90, 123) 2px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    background-color: rgb(228, 146, 243);
    color: #2c0742;
}